In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

In [2]:
perform_col_headers = ['loan_sequence_no', 'monthly_reporting_period', 'curr_actual_upb', 'curr_loan_delinquency_status', 'loan_age', 'remaining_months_to_legal_maturity', 'repurchase_flag', 'modification_flag', 'zero_balance_code', 'zero_balance_effective_date', 'curr_interest_rate', 'curr_deferred_upb', 'due_date_last_paid_installment', 'mi_recoveries', 'net_sales_proceeds', 'non_mi_recoveries', 'expenses', 'legal_costs', 'maintain_preserve_costs', 'tax_insurance', 'miscellaneous_expense', 'actual_loss_calculation', 'modification_cost']

In [162]:
perf_df = pd.read_csv('historical_data1_Q12016/historical_data1_time_Q12016.txt', sep='|', names=perform_col_headers)

C:\Users\liuji\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [130]:
perf_df = pd.read_csv('sample_2014/sample_svcg_2014.txt', sep='|', names=perform_col_headers)

C:\Users\liuji\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Legacy
for year in range(2005, 2017):
    perf_df = pd.read_csv('sample_{0}/sample_svcg_{0}.txt'.format(year), sep='|', names=perform_col_headers)
    interest_rate_df = perf_df.groupby(['loan_sequence_no'])['curr_interest_rate'].mean().reset_index()
    avgInterestRate = interest_rate_df['curr_interest_rate'].mean()
    print([year, avgInterestRate])

In [147]:
perf_df.head(10)

,loan_sequence_no,monthly_reporting_period,curr_actual_upb,curr_loan_delinquency_status,loan_age,remaining_months_to_legal_maturity,repurchase_flag,modification_flag,zero_balance_code,zero_balance_effective_date,curr_interest_rate,curr_deferred_upb,due_date_last_paid_installment,mi_recoveries,net_sales_proceeds,non_mi_recoveries,expenses,legal_costs,maintain_preserve_costs,tax_insurance,miscellaneous_expense,actual_loss_calculation,modification_cost
0,F116Q1000001,201604,80000.00,0,0,360,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F116Q1000001,201605,80000.00,0,1,359,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F116Q1000001,201606,80000.00,0,2,358,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,F116Q1000001,201607,80000.00,0,3,357,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,F116Q1000001,201608,80000.00,0,4,356,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F116Q1000001,201609,80000.00,0,5,355,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,F116Q1000001,201610,80000.00,0,6,354,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,F116Q1000001,201611,79544.30,0,7,353,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,F116Q1000001,201612,79420.54,0,8,352,NaN,NaN,NaN,NaN,3.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,F116Q1000002,201604,118000.00,0,0,180,NaN,NaN,NaN,NaN,3.00,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
missing_df = perf_df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['col', 'missing_cnt']
missing_df = missing_df[missing_df['missing_cnt'] > 0]
missing_df

                               col  missing_cnt
6                  repurchase_flag      2630959
7                modification_flag      2648429
8                zero_balance_code      2630960
9      zero_balance_effective_date      2630960
12  due_date_last_paid_installment      2647198
13                   mi_recoveries      2648429
14              net_sales_proceeds      2648429
15               non_mi_recoveries      2648429
16                        expenses      2648429
17                     legal_costs      2648429
18         maintain_preserve_costs      2648429
19                   tax_insurance      2648429
20           miscellaneous_expense      2648429
21         actual_loss_calculation      2648429
22               modification_cost      2371102

In [163]:
perf_df = perf_df.drop(missing_df['col'].tolist(), axis=1)

In [150]:
perf_df.head(3)

,loan_sequence_no,monthly_reporting_period,curr_actual_upb,curr_loan_delinquency_status,loan_age,remaining_months_to_legal_maturity,curr_interest_rate,curr_deferred_upb
0,F116Q1000001,201604,80000.0,0,0,360,3.75,0
1,F116Q1000001,201605,80000.0,0,1,359,3.75,0
2,F116Q1000001,201606,80000.0,0,2,358,3.75,0

Remove non-numeric values for curr_loan_delinquency_status and change values that > 1 to 1

In [151]:
from numbers import Number

In [164]:
perf_test_df = perf_df
perf_test_df = perf_test_df[perf_test_df['curr_loan_delinquency_status'].apply(lambda x: isinstance(x, Number))]
perf_test_df['curr_loan_delinquency_status'] = perf_test_df['curr_loan_delinquency_status'].astype(int)

C:\Users\liuji\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [165]:
perf_test_df.loc[perf_test_df['curr_loan_delinquency_status'] > 1, 'curr_loan_delinquency_status'] = 1

C:\Users\liuji\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [168]:
count_df = perf_test_df['curr_loan_delinquency_status'].value_counts().reset_index()
count_df

   index  curr_loan_delinquency_status
0      1                          6400
1      0                          6400

Remove 0s so that 0:1 is 1.5:1

In [160]:
import numpy as np

In [167]:
# make value 0:1 is 1.5:1
zeroCnt = count_df.iloc[1, 1]
oneCnt = count_df.iloc[0, 1]
# desiredOneCnt = zeroCnt * 1.5
desiredOneCnt = zeroCnt
oneRemovePerc = (oneCnt - desiredOneCnt) / oneCnt

perf_test_df = perf_test_df.drop(perf_test_df.query('curr_loan_delinquency_status == 0').sample(frac = oneRemovePerc).index)

In [42]:
perf_test_df.dtypes

loan_sequence_no                       object
monthly_reporting_period                int64
curr_actual_upb                       float64
curr_loan_delinquency_status            int32
loan_age                                int64
remaining_months_to_legal_maturity      int64
curr_interest_rate                    float64
curr_deferred_upb                     float64
dtype: object

In [169]:
perf_test_df.to_csv('historical_data1_Q12016/historical_data1_time_Q12016_clean.csv', index=False)

In [148]:
perf_test_df.to_csv('test_100k_clean_v2.csv', index=False)

Split into 10

In [71]:
for ind in range(10):
    splitLocLeft = int(ind / 10 * perf_test_df.shape[0])
    splitLocRight = int((ind+1) / 10 * perf_test_df.shape[0])
    print([splitLocLeft, splitLocRight, perf_test_df.shape[0]])
    year = ind + 1999
    split_df = perf_test_df.iloc[splitLocLeft: splitLocRight, :]
    split_df.to_csv('historical_data1_Q42007/historical_data1_time_Q4{0}_clean.csv'.format(year), index=False)

[0, 359319, 3593197]
[359319, 718639, 3593197]
[718639, 1077959, 3593197]
[1077959, 1437278, 3593197]
[1437278, 1796598, 3593197]
[1796598, 2155918, 3593197]
[2155918, 2515237, 3593197]
[2515237, 2874557, 3593197]
[2874557, 3233877, 3593197]
[3233877, 3593197, 3593197]